@model Image

@{
	ViewData["Title"] = "Admin - Image Info";
}


<div class="content-section">
	<h2 class="content-title">@Model.Name</h2>
	<hr />
	@Html.Partial("_Alert")
	<h3 class="content-subtitle">Image details</h3>
	<div class="row">
		<div class="col-12 col-md-4 text-center">
			<img class="img-fluid rounded" src="~/images/@Model.FilePath" alt="Image" />
		</div>
		<div class="col-12 col-md-8 flex-col">
			<span><strong>Category:</strong> @Model.Category.ToString()</span>
			<span><strong>Filename:</strong> @Model.Filename</span>
			<span><strong>Uploaded on:</strong> @Model.UploadedTime.ToString("dd/MM/yyyy HH:mm")</span>
		</div>
	</div>
</div>

<hr />

<a asp-action="Index" class="btn btn-secondary">Back to list</a>
<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning mx-3">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>

