@model Rate

@{
	ViewData["Title"] = "Admin - Rate Info";
}


<div class="content-section">
	<h2 class="content-title">@Model.Code</h2>
	<hr />
	@Html.Partial("_Alert")
	<h3 class="content-subtitle">Rate details</h3>
	<div class="row mb-3">
		<div class="col-12 col-md-6 flex-col">
			<span><strong>Minimum age:</strong> @Model.MinAge</span>
			<span><strong>Description:</strong> @Model.Description</span>
			<span><strong>Image:</strong></span>
			<div>
				<img class="img-fluid rounded" src="~/images/@Model.Image.FilePath" alt="Rate image" />
			</div>
		</div>
	</div>

	<h3 class="content-subtitle">Movies</h3>
	<div class="row justify-content-start">
		<div class="col-12 col-md-6">
			<table class="table table-sm table-hover">
				<thead>
					<tr>
						<th>Poster</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Movie movie in Model.Movies.Take(5))
					{
						<tr>
							<td><img class="admin-table-img rounded" src="~/images/@movie.Poster.FilePath" alt="Movie poster" /></td>
							<td class="flex-col">
								<a asp-area="Admin" asp-controller="Movies" asp-action="Info" asp-route-id="@movie.ID">@movie.Title</a>
								<span><strong>Director:</strong> @movie.Director</span>
								<span><strong>Starring:</strong> @movie.Actors</span>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<hr />

<a asp-action="Index" class="btn btn-secondary">Back to list</a>
<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning mx-3">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>


