@model IEnumerable<PhotoGal>

@{
	ViewData["Title"] = "Admin - Gallery";
}

<div class="content-section">
	<h2 class="content-title">Gallery photos</h2>
	@Html.Partial("_Alert")
	<div class="admin-page-bar">
		<a asp-action="Create" class="btn btn-primary">New Photo</a>
		<form asp-action="Index" class="form-inline search-form">
			<input type="search" placeholder="Search for photo..." aria-label="Search for" name="find" class="search-control" />
			<button type="submit" class="btn btn-success search-button">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</form>
	</div>
	<hr />

	<div class="row align-items-stretch">
		@if (Model.Count() > 0)
		{
			@foreach (PhotoGal photo in Model)
			{
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 align-items-stretch">
					<div class="admin-card">
						<h3 class="admin-card-header">@photo.Title</h3>
						<div class="admin-card-body">
							<span><strong>For cinema:</strong> @photo.Cinema.Name</span>
							<span><strong>Active:</strong> @photo.IsActive.ToString()</span>
							<span><strong>Description:</strong> @photo.Description</span>
							<div class="text-center">
								<img class="img-fluid rounded" src="~/images/@photo.Photo.FilePath" alt="Cinema image" />
							</div>
						</div>
						<div class="admin-card-footer">
							<a asp-action="Edit" asp-route-id="@photo.ID" class="btn btn-warning">Edit</a>
							<a asp-action="Info" asp-route-id="@photo.ID" class="btn btn-info mx-1">Info</a>
							<a asp-action="Delete" asp-route-id="@photo.ID" class="btn btn-danger">Delete</a>
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<div class="col">
				<p>There are no photos.</p>
			</div>
		}
	</div>
</div>

<hr />

<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Back to dashboard</a>

